body{
    margin: 0;
    padding: 0;
    background-color: rgb(226, 238, 240);;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px grey; 
    border-radius: 19px;
}

::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

.container{
    top: 5%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -5%);
    background-color: transparent;
    width: 80%;
    height: auto;
    padding-bottom: 25px;
    margin-left: 0; 
}

@media screen and (max-width: 500px) {
    .column {
        width: 93%;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width:100%;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav a.active{
    color: #f1f1f1;
}

.closebtn {
    background: none;
    border:none;
    position: absolute;
    top: 0;
    right: 19px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 15px;
    color: #FFF;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


.loginbox {
    width: 320px;
    height: auto; 
    background: rgb(226, 238, 240);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 15px;
    -moz-box-shadow: 0 0 4px 5px rgb(147, 182, 197);
    box-shadow: 0 0 4px 5px rgb(147, 182, 197);
}

.avartar{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: -19%;
    left: calc(50% - 50px);
}

h1{
    margin: 15px 0 20px 0;
    text-align: center;
    font-size: 25px;
    color: rgb(112, 164, 187);
}

.form-group{
    position: relative;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    color: #000;
}

input{
    width: 100%;
    height: 30px;
    padding-left: 3px;
    font-size: 16px;
    border: rgb(112, 164, 187) solid 0.5px;
    background: #fff;
} 

input.invalid {
    box-sizing: border-box;
    border-color: red;
    border-radius: 2px;
    -moz-box-shadow: 0 3px 3px 1px #ccc;
    box-shadow: 0 3px 3px 1px #ccc;
  }

.error {
    display: none;
    font-size: 11px;
    color: red;
    font-weight: bold;
  }
  
.loginbox input[type="submit"]{
    border: none;
    width: 100%;
    outline: none;
    height: 35px;
    background: rgb(68, 224, 94);
    color: #fff;
    font-size: 18px;
    border-radius:20px; 
    margin-bottom: 25px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background:  rgb(134, 216, 147);
    color: #000;
}

.account-type {
    display: inline;
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.account-type input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(112, 164, 187);
    border-radius: 50%;
}

.account-type:hover input ~ .checkmark {
    background-color: rgba(123, 211, 233, 0.781);
}

.account-type input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.account-type input:checked ~ .checkmark:after {
    display: block;
}

.account-type .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
